In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

i = 5

users = pd.read_parquet(f"group_{i}_user_data.parquet")
user_reviews = pd.read_parquet(f"group_{i}_user_reviews.parquet")

users = users[users.num_ratings != 0]
user_reviews = user_reviews[user_reviews.rating != 0]

print(len(users))
print(len(user_reviews))

users.head(3)

361
12099

,user_url,user_id,name,num_ratings,avg_rating,num_reviews,is_best_reviewer,reviewer_rank,is_most_followed,follow_rank
0,https://www.goodreads.com/user/show/2111327-tori,2111327-tori,Tori,2255,3.74,29,False,0,False,0
1,https://www.goodreads.com/user/show/156563474-...,156563474-annabel,Annabel,219,3.32,219,False,0,False,0
2,https://www.goodreads.com/user/show/16861918-s...,16861918-sailakshmi-deepak,Sailakshmi Deepak,377,3.62,3,False,0,False,0