In [15]:
import pandas as pd

books = pd.read_parquet("Business_books.parquet")
books

,title,author,genres,page_count,publish_date,rating,num_ratings,num_reviews,five_stars,four_stars,three_stars,two_stars,one_star
0,Good to Great: Why Some Companies Make the Lea...,Jim Collins,"[Business, Nonfiction, Leadership, Management,...",300,2001-11-01,4.12,269813,6604,115262,92436,46877,9460,5778
1,"Zero to One: Notes on Startups, or How to Buil...",Peter Thiel,"[Business, Nonfiction, Entrepreneurship, Self ...",195,2014-09-16,4.15,373228,9728,179195,113089,53536,14076,13332
2,The Lean Startup,Eric Ries,"[Business, Nonfiction, Entrepreneurship, Manag...",299,2011-01-01,4.11,351595,4876,157734,114232,52812,14584,12233

In [18]:
reviews = pd.read_parquet("Art_reviews.parquet")
reviews

,title,user_id,rating
0,Ways of Seeing,175635-trevor,5.0
1,Ways of Seeing,2184529-justin-evans,3.0
2,Ways of Seeing,614778-ahmad-sharabiani,4.0
3,Ways of Seeing,239699-pierce,4.0
4,Ways of Seeing,64126678-casey,3.0
5,Ways of Seeing,26706841-steven-godin,4.0
6,Ways of Seeing,869064-j,1.0
7,Ways of Seeing,85501-mehg-hen,2.0
8,Ways of Seeing,114049471-violeta,3.0
9,Ways of Seeing,63354301-narjes-dorzade,4.0
10,The Story of Art,32532774-lisa,5.0
11,The Story of Art,614778-ahmad-sharabiani,4.0
12,The Story of Art,15385951-bookhunter-m-h-m-d,5.0
13,The Story of Art,117399210-lu-s,5.0
14,The Story of Art,95898213-zidane-abdollahi,5.0
15,The Story of Art,1655437-ac,5.0
16,The Story of Art,107010012-dream-m,5.0
17,The Story of Art,13362307-nikoleta,5.0
18,The Story of Art,48314236-hamid,5.0
19,The Story of Art,764994-rick,4.0
20,Steal Like an Artist: 10 Things Nobody Told Yo...,2007216-peter-derk,3.0
21,Steal Like an Artist: 10 Things Nobody Told Yo...,8114361-jesse-jessethereader,NaN
22,Steal Like an Artist: 10 Things Nobody Told Yo...,2040005-wil-wheaton,5.0
23,Steal Like an Artist: 10 Things Nobody Told Yo...,83144-el,2.0
24,Steal Like an Artist: 10 Things Nobody Told Yo...,23381142-natalie,4.0
25,Steal Like an Artist: 10 Things Nobody Told Yo...,763271-nancy,3.0
26,Steal Like an Artist: 10 Things Nobody Told Yo...,597461-elyse-walters,4.0
27,Steal Like an Artist: 10 Things Nobody Told Yo...,4795604-martyn,1.0
28,Steal Like an Artist: 10 Things Nobody Told Yo...,64982458-matt,5.0
29,Steal Like an Artist: 10 Things Nobody Told Yo...,5576040-kathryn-patterson,5.0